{% extends '@Activos/Default/index.html.twig' %}

{% block content -%}
    {{ parent() }}
    <div class="row well">
        <div class="col-lg-9">
            <h1>{{ entity.id }}</h1>
            <dl>
                <dt>Id</dt>
                <dd>
                    {{ entity.id }}
                    &nbsp;
                </dd>
                <br>
                <dt>Elemento</dt>
                <dd>
                    {{ entity.eactivo.nombre }}
                    &nbsp;
                </dd>
                <br>
                <dt>cantidad</dt>
                <dd>
                    {{ entity.cantidad }}
                    &nbsp;
                </dd>
                <br>
            </dl>
        </div>

        <div class="col-md-3">
            <h2>Acciones</h2>
            <p>
                <a href="{{ path('ud_activos_stock_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-warning">
                    Editar
                </a>
            </p>
            <p>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                {{ form_end(delete_form) }}
            </p>
            <p>
                <a href="{{ path('ud_activos_stock') }}" class="btn btn-sm btn-default">
                    Volver
                </a>
            </p>
        </div>
    </div>
{% endblock %}
