{% extends 'SalonesBundle:Default:index.html.twig'%}

{% block content -%}
    {{ parent() }}
    <div class="row well">
        <div class="col-lg-9">
            <h1>Salon: {{ entity.nombreSala }}</h1>
            <br>
            <dl>
                <dt>Id</dt>
                <dd>
                    {{ entity.id }}
                    &nbsp;
                </dd>
                <br>
                <dt>Nombre</dt>
                <dd>
                    {{ entity.nombreSala }}
                    &nbsp;
                </dd>
                <br>
                <dt>Role</dt>
                <dd>
                    {{ entity.descripcion }}
                    &nbsp;
                </dd>
                <br>
            </dl>
        </div>
        <div class="col-md-3">
            <h1>Acciones</h1>
            <p>
                <a href="{{ path('ud_salones_salon') }}" class="btn btn-sm btn-default">
                    Volver
                </a>
            </p>
            <p>
                <a href="{{ path('ud_salones_salon_edit', {'id': entity.id }) }}" class="btn btn-sm btn-warning">
                    Editar
                </a>
            </p>
            <p>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                {{ form_end(delete_form) }}
            </p>
        </div>
    </div>
{% endblock %}