{% extends '@Enfermeria/Default/index.html.twig'%}

{% block content %}
    {{ parent() }}
    <div id="warning">
    </div>
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h2>A&ntildeadir un nuevo reporte</h2>
                </div>
                <div class="search">
                    <form id="search-form">
                        <label for="searchbox">Busqueda</label>
                        <input id="searchbox" type="text" placeholder="Ingrese el id del usuario" class="form-control" required/>
                        <br>
                        <input type="submit" value="{{ 'Buscar Usuario' }}" class="btn btn-default btn-search" />
                    </form>
                </div>
                <br>
                <div class="searchx">
                    <form id="searchxml-form">
                        <input type="submit" value="{{ 'Buscar un tag' }}" class="btn btn-default btn-xml" />
                    </form>
                </div>
                <br>
                <div class="detalles" id="detalles">
                    <textarea class="form-control"></textarea>
                </div>
                <br>
                {{ form_start(form, { 'attr' : {'novalidate': 'novalidate', 'id': id|default('new-form') }}) }}

                <div class="form-group">
                    {{ form_label(form.detalle) }}
                    {{ form_widget(form.detalle, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Digite detalles'}}) }}
                </div>

                <div class="form-group">
                    {{ form_label(form.users) }}
                    {{ form_widget(form.users, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Seleccione un usuario'}}) }}
                </div>

                <p>{{ form_widget(form.submit, { 'label': 'Crear Reporte', 'attr' : {'class' : 'btn btn-success' }}) }}</p>

                {{ form_end(form) }}
            </div>
        </div>
        <ul>
            <li>
                <a href="{{ path('ud_enfermeria_reporte') }}">
                    volver
                </a>
            </li>
        </ul>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/enfermeria/js/searchuser.js') }}"></script>
    <script src="{{ asset('bundles/enfermeria/js/xml.js') }}"></script>
{% endblock %}