{% extends 'layout.html.twig' %}

{% block body -%}
    {{ parent() }}
    <div class="container well">
        <div class="col-lg-9">
            <h1>Prestamo Numero: {{ entity.id }}</h1>
            <br>
            <dl>
                <dt>Id</dt>
                <dd>
                    {{ entity.id }}
                    &nbsp;
                </dd>
                <br>
                <dt>Fecha inicio</dt>
                <dd>
                    {{ entity.fechaInicio|date('Y-m-d H:i:s') }}
                    &nbsp;
                </dd>
                <br>
                <dt>Fecha Fin</dt>
                <dd>
                    {{ entity.fechaFin|date('Y-m-d H:i:s') }}
                    &nbsp;
                </dd>
                <br>
                <dt>Observaciones</dt>
                <dd>
                    {{ entity.observaciones }}
                    &nbsp;
                </dd>
                <br>
                <dt>Sala</dt>
                <dd>
                    {{ entity.sala.nombreSala }}
                    &nbsp;
                </dd>
                <br>
                <dt>Observaciones</dt>
                <dd>
                    {{ entity.users.id }}
                    &nbsp;
                </dd>
                <br>
            </dl>
        </div>
        <div class="col-md-3">
            <h1>Acciones</h1>
            <p>
                <a href="{{ path('ud_salones_prestamo') }}" class="btn btn-sm btn-default">
                    Volver
                </a>
            </p>
            <p>
                <a href="{{ path('ud_salones_prestamo_edit', {'id': entity.id }) }}" class="btn btn-sm btn-warning">
                    Editar
                </a>
            </p>
            <p>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                {{ form_end(delete_form) }}
            </p>
        </div>
    </div>
{% endblock %}