{% extends ('layout.html.twig') %}

{% block body -%}
    {{ parent() }}
    <div class="main container">
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>A&ntildeadir una dependencia</h1>
                </div>
                {{ form_start(form, { 'attr' :{ 'id' : id|default('new-form')} }) }}
                <div class="form-group">
                    {{ form_label(form.id) }}
                    {{ form_widget(form.id, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Digite id'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.nombre) }}
                    {{ form_widget(form.nombre, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Digite nombre'}}) }}
                </div>
                <p>{{ form_widget(form.submit, { 'label': 'Agregar Dependencia', 'attr' : {'class' : 'btn btn-success' }}) }}</p>
                {{ form_end(form) }}
                <a href="{{ path('ud_admin_dependencia') }}" class="btn btn-sm btn-link">
                    Volver
                </a>
            </div>
        </div>
    </div>
{% endblock %}