{% extends ('layout.html.twig') %}

{% block body -%}
    {{ parent() }}
    <div class="container well">
        <div class="col-lg-9">
            <h1>Dependencia: {{ entity.nombre }}</h1>
            <br>
            <dl>
                <dt>Id</dt>
                <dd>
                    {{ entity.id }}
                    &nbsp;
                </dd>
                <br>
                <dt>Nombre</dt>
                <dd>
                    {{ entity.nombre }}
                    &nbsp;
                </dd>
                <br>
            </dl>
        </div>
        <div class="col-md-3">
            <h1>Acciones</h1>
            <p>
                <a href="{{ path('ud_admin_dependencia') }}" class="btn btn-sm btn-default">
                    Volver
                </a>
            </p>
            <p>
                <a href="{{ path('ud_admin_dependencia_edit', {'id': entity.id }) }}" class="btn btn-sm btn-warning">
                    Editar
                </a>
            </p>
            <p>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                {{ form_end(delete_form) }}
            </p>
        </div>
    </div>
{% endblock %}