{% extends '@Deportes/Default/index.html.twig'%}

{% block content -%}
    {{ parent() }}
        <div class="row well">
            <div class="col-md-6">
                <h1>Editar Inventario</h1>
                {{ form_start(edit_form, { 'attr' :{ 'id' : id|default('edit-form')} }) }}
                <div class="form-group">
                    {{ form_label(edit_form.id) }}
                    {{ form_widget(edit_form.id, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Digite id'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.estado) }}
                    {{ form_widget(edit_form.estado, { 'attr' : {'class' : 'form-control'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.cantidad) }}
                    {{ form_widget(edit_form.cantidad, { 'attr' : {'class' : 'form-control', 'placeholder' : 'Digite una cantidad'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(edit_form.elemendepor) }}
                    {{ form_widget(edit_form.elemendepor, { 'attr' : {'class' : 'form-control'}}) }}
                </div>
                <p>{{ form_widget(edit_form.submit, { 'label': 'Editar Inventario', 'attr' : {'class' : 'btn btn-success' }}) }}</p>
                {{ form_end(edit_form) }}
                <p>
                    {{ form_start(delete_form) }}
                    <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                    {{ form_end(delete_form) }}
                </p>
                <p>
                    <a href="{{ path('ud_deportes_inventario') }}" class="btn btn-sm btn-link">
                        Volver
                    </a>
                </p>
            </div>
        </div>
{% endblock %}

