{% extends 'layout.html.twig' %}

{% block body -%}
    {{ parent() }}
    <div class="container well">
        <div class="col-lg-9">
            <h1>Inventario: {{ entity.id }}</h1>
            <br>
            <dl>
                <dt>Id</dt>
                <dd>
                    {{ entity.id }}
                    &nbsp;
                </dd>
                <br>
                <dt>Fecha</dt>
                <dd>
                    {{ entity.fecha|date('Y-m-d H:i:s') }}
                    &nbsp;
                </dd>
                <br>
                <dt>Estado</dt>
                <dd>
                    {{ entity.estado }}
                    &nbsp;
                </dd>
                <br>
                <dt>Cantidad</dt>
                <dd>
                    {{ entity.cantidad }}
                    &nbsp;
                </dd>
                <br>
            </dl>
        </div>
        <div class="col-md-3">
            <h2>Acciones</h2>
            <p>
                <a href="{{ path('ud_deportes_inventario_edit', { 'id': entity.id }) }}" class="btn btn-sm btn-warning">
                    Editar
                </a>
            </p>
            <p>
                {{ form_start(delete_form) }}
                <button type="submit" class="btn btn-sm btn-danger">Eliminar</button>
                {{ form_end(delete_form) }}
            </p>
            <p>
                <a href="{{ path('ud_deportes_inventario') }}" class="btn btn-sm btn-link">
                    Volver
                </a>
            </p>
        </div>
    </div>
{% endblock %}
