{% extends 'layout.html.twig' %}

{% block body %}
 {{ parent() }}
 <div class="row">
  <div class="col-sm-3">
   <div class="sidebar-nav">
    <div class="navbar navbar-default blue" role="navigation">
      <div class="navbar-header blue-nav">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
       <span class="visible-xs navbar-brand">Menu de Activos</span>
      </div>
     <div class="navbar-collapse collapse sidebar-navbar-collapse">
        <ul class="nav navbar-nav">
              <li class="active"><a href="#">Menu</a></li>
              <li><a href="{{ path('activos_homepage') }}">Inicio</a></li>
              <li><a href="{{ path('ud_activos_elementos') }}">Elementos</a> </li>
              <li><a href="{{ path('ud_activos_stock') }}">Stock</a></li>
              <li><a href="{{ path('ud_activos_prestamo') }}">Prestamo</a></li>
              <li><a href="{{ path('ud_activos_multas') }}">Multas</a></li>
        </ul>
     </div>
    </div>
   </div>
  </div>
  <div class="col-sm-9">
   {% block content %}
   {% endblock %}
  </div>
 </div>
{% endblock %}
