{% extends '@Activos/Default/index.html.twig' %}

{% block content -%}
    {{ parent() }}
        <div class="row well">
            <div class="col-md-6">
                <div class="page-header">
                    <h1>Nuevo Prestamo</h1>
                </div>
                <div class="search">
                    <form id="search-form">
                        <label for="searchbox">Busqueda</label>
                        <input id="searchbox" type="text" placeholder="Ingrese el id del usuario" class="form-control" required/>
                        <br>
                        <input type="submit" value="{{ 'Buscar Usuario' }}" class="btn btn-default btn-search" />
                    </form>
                </div>
                {{ form_start(form, { 'attr' :{ 'id' : id|default('new-form')} }) }}
                <div id="elementos">
                    <div class="form-group">
                        {{ form_label(form.sactivo) }}
                        {{ form_widget(form.sactivo, { 'attr' : {'class' : 'form-control'}}) }}
                    </div>
                </div>
                <div class="success">
                    <span class="alert-success">De este elemento existen: </span>
                </div>
                <div class="danger">
                    <span class="alert-danger">No hay existencias</span>
                </div>
                <div id="form-rest">
                    <div class="form-group">
                        {{ form_label(form.users) }}
                        {{ form_widget(form.users, { 'attr' : {'class' : 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.cantidad) }}
                        {{ form_widget(form.cantidad, { 'attr' : {'class' : 'form-control', 'placeholder': 'Digite un cantidad', 'min': 0 }}) }}
                    </div>
                    <p>{{ form_widget(form.submit, { 'label': 'Agregar Prestamo', 'attr' : {'class' : 'btn btn-success' }}) }}</p>
                </div>
                {{ form_end(form) }}
                <a href="{{ path('ud_activos_prestamo') }}" class="btn btn-bg btn-link">
                    Volver
                </a>
            </div>
        </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/activos/js/searchcantidad.js') }}"></script>
    <script src="{{ asset('bundles/activos/js/searchuser.js') }}"></script>
{% endblock %}
